.input__paragraph {
    text-align: center;
    flex-grow: 1;
}

.input__labelText {
    width: 150px;
    display: inline-block;
}

.input__legend {
    background-color: #2e8b57;
    color: #fff;
    border: 2px solid black;
    padding: 10px;
    border-radius: 15px 5px;
}

.input__fieldset {
    border: 5px solid #2e8b57;
    padding: 10px;
    border-radius: 25px 5px;
    background-color: #ffffff86;
}

.input__field {
    padding: 5px;
    border: 2px solid black;
    border-radius: 5px;
}